body {
    font-family: sans-serif;
    color: rgb(219, 120, 219);
    background-color: white;
}

header {
    padding: 2.5px 25px;
    background-color: grey;
    font-weight: bold;
    font-size: 28px;
    color: purple;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
    color: purple;
    margin: 0;
    font-style: italic;
    background-color: lightpink;
}

header a {
    text-decoration: none;
    color: purple;
}

header nav {
    margin: 7px 0;
}

header nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
   padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: lightpink;
    color: lightslategray;
    border-radius: 15px;
    text-shadow: 2px 2px 5px lightseagreen;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
   background-size: cover;
   background-position: center;
   background-image: url("../images/background.jpeg");
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   height: 400px;
   position: relative;
  }

  .headshot {
      position: absolute;
      left: 2.5%;
      top: 60%;
      height: 125px;
      width: 185px;
      border: purple solid; 
  }

  .hero h2 {
    font-family: cursive;
    font-size: 25px;
    color: purple;
    margin-top: 300px;
    margin-left: 1100px;
    background-color: dimgray;
  }

  .myabout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;  
    width: 90%;
    align-items: center;
  }

  .flex-row {
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: black;
    margin: 0;
    font-style: italic;
}

.border-line{
    display: flex;
    flex-wrap: wrap;
    flex: 2 5%;
    align-items: center;
}

.border {
    border-right: 3px solid purple;
    height: 150px;
    flex: 2 2%;
}

.border1 {
    border-right: 3px solid purple;
    height: 400px;
    flex: 2 2%;
}

.my-summary {
    flex: 20
}

.my-summary p {
    color: purple;
    font-size: 15px;
    text-align: left;
    line-height: 1.5;
    margin-left: 30px;
    width: 100%;
  }

.mywork{  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;  
    width: 90%;
    align-items: center;
}

  .flex-container {
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-left: 15px;
    width: 79.5%;    
  }

  .flex-item {
      width: 50%;
      border: 1px solid purple;
      font-size: 10px;
      margin-bottom: 10px;
  }

  .flex-item h2{
      font-size: 15px;
  }

  .flex-item span {
      font-size: 10px;
  }

  .span-title {
      background-color: white;
      height: 25px;
      margin-bottom: 10px;
      color: black;
  }

  .runbuddy  {
      background-image: url("../images/050-mock-up.jpeg");
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      min-height: 200px;
      display:flex;
      width: 100%;
  }


  .runbuddy:hover {
     opacity: 0.3;
  }

  .horiseon {
      background-image: url("../images/01-html-css-git-homework-demo.png");
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      min-height: 200px;
      display:flex;
  }

  .horiseon:hover {
    opacity: 0.3;
  }

  .devtool {
      background-image: url("../images/devtool.jpeg");
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      min-height: 200px;
      display:flex;
  }

  .devtool:hover {
    opacity: 0.3;
}

  .sun {
      background-image: url("../images/sun.jpeg");
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      min-height: 200px;
      display:flex;
  }

  .sun:hover {
    opacity: 0.3;
}

  .webshot {
      background-image: url("../images/webshot.jpeg");
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      min-height: 200px;
      display:flex;
  }

  .webshot:hover {
    opacity: 0.3;
}

  .mycontact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;  
    width: 90%;
    align-items: center;
  }

  address a{
    flex: 20;
    padding: 10px 70px;
    color: purple;
    font-size: 15px;
    text-align: left;
    line-height: 1.5;
    margin-left: 30px;
    justify-content: space-between;
    width: 87%;
  }

  address a:hover {
    text-shadow: 2px 2px 5px lightpink;
    font-weight: bold;
    font-style: italic;
}

    .contactme {
    display: flex;  
    flex-wrap: wrap;
    align-items: center; 
    margin-left: 15px;
    width: 87%;
    }
